body{
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

.bg{
	position: relative;
	background: #00fdff url('background.jpg');
	height: 100vh;
	background-size:cover;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 15s linear infinite;
}

.car{
	position: absolute;
	bottom: -70px;
	left: 10%;
}

.car-1{
	position: absolute;
	bottom: -100px;
	left: 50%;
}

@keyframes animate{
	from{
		background-position:0 0;
	}

	to{
		background-position:100% 0;
	}
}